.navbar {
  background: var(--color-grey-white);
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: var(--color-grey);
}
